body {
  font-family: sans-serif;
}
.traffic_light {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: fit-content;
  gap: 20px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: grey;
}
